extends ../layout
block content
  h1 Donnés de l'utilisateur :  #{user.fullname}
  table
    tr
      th Name 
      td= user.fullname
    tr 
      th Email
      td= user.email 
    tr 
      th Code postale 
      td= user.zipCode
    tr 
      th Mot de passe 
      td= user.password

  if user.subscribedAccount
    h4 cet utilisateur à un compte
    a(href=`/subscribers/${user.subscribedAccount}`) Lien d'inscrit 